#jumbo1 {
  text-align: left;
  background-image: url('../images/blue_gradient.png');
  background-repeat: repeat-x;
  background-size: 70% 100%;
  margin: 0px;
  color: #fff;
}
.jumbotron {
  background-color: white;
}
.jumbotron #greeting {
  color: #0F4C81;
  text-align: left;
  font-family: Arial;
  font-weight: bold; /* New addition */
}
#jumbo1 h1 {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#jumbo2 {
  padding-top: 0px;
}
#jumbo2 .col-md-4 {
  margin-top: 35px;
}
#swift {
  color: #ffac45;
  font-weight: bold;
}
#NCA {
  color: #0000FF;
  font-weight: bold;
}
#climony {
  color: #ff6f44;
  font-weight: bold;
}
#wattx {
  color: #000;
  font-weight: bold;
}
#Deloitte {
  color: #86BC25;
  font-weight: bold;
}
#Econum {
  color: #de2834;
  font-weight: bold;
}
#ruby {
  color: #701516;
  font-weight: bold;
}
#github {
  color: #333;
}
#stripe {
  color: #0000FF;
}
#shopify {
  color: #96bf48;
}
#wwdc {
  color: #1da1f2;
}
.jumbotron hr {
  width: 60%;
  height: 3px;
  border: 0 none;
  background: #5a5a5a;
  padding-bottom: 0px;
  margin: auto;
  margin-bottom: 20px;
}
.jumbotron img {
  width: 300px;
  height: auto;
  vertical-align: middle;
  border: 10px solid #eee;
  border-radius: 130px;
}
.jumbotron p {
  margin-top: 10px;
  text-align: left;
  font-weight: 300;
}
@media (max-width: 767px) {
  .jumbotron {
    margin-top: 25px;
  }
  #jumbo2 p {
    margin-top: 15px;
    text-align: center;
  }
  .navbar-right {
    visibility: hidden;
  }
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #0F4C81;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 10px 40px;
  left: 0;
  background: inherit;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #0F4C81;
  border: 4px solid #0F4C81;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item-content {
  padding: 20px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.timeline-item:nth-child(even) {
  left: 50%;
}

.timeline-item:nth-child(even)::after {
  left: -17px;
}

@media screen and (max-width: 600px) {
  .timeline::before {
    left: 31px;
  }

  .timeline-item, .timeline-item:nth-child(even) {
    width: 100%;
    left: 0;
  }

  .timeline-item::after, .timeline-item:nth-child(even)::after {
    left: 15px;
    right: initial;
  }
}




