/* nav-and-footer.css */

.navbar {
  background-color: #343a40;
  border-radius: 0;
}

.navbar-brand {
  color: #fff;
}

footer {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.footer li {
  display: inline;
  margin: 0 10px;
}

.footer li a {
  color: #343a40;
  text-decoration: none;
}
